*{
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background: url(./img/background-body.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  animation: body 3s infinite alternate linear;
}
@keyframes body {
  0%{
    background-size: 100% 100%;
  }
  100%{
    background-size: 110% 110%
  }
}

.App {
  text-align: center;
}

header {
  position: relative;
  background-image: url(./img/background-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex;
  gap: 25px;
}

input::placeholder {
  color: rgb(192, 188, 188);
}

input:focus {
  outline: none;
}


/* ===== FORM ===== */

.header-search-form  {
  display: flex;
  box-shadow: 0 0 7px rgb(41, 40, 40);
  border: solid 1px rgb(29, 28, 28);
  width: max-content;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.header-search-form input {
  border: transparent;
  margin: 0;
  padding: 6px 11px;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 800px;
  text-shadow: 1px 1px rgb(48, 48, 48);
  text-align: center;
  background-color: rgba(51, 50, 50, 0.199);
  width: 300px;
}

.header-search-form button {
 border: transparent;
 color: rgb(252, 252, 252);
 font-weight: 800px;
 font-size: 19px;
 text-shadow: 1px 1px rgb(48, 48, 48);
 padding: 6px 15px;
 cursor: pointer;
 background-color: rgb(51, 50, 50);
}

.header-search-form button:active {
  transform: translateY(2px);
}

.container-location {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  box-shadow: 0 0 7px rgb(0, 0, 0);
  background-color: rgb(51, 50, 50);
  min-height: 77px
}

.card-location {
  display: flex;
  justify-content: space-around;
  gap: 18px;
}

h2 {
  color: #97ce4c;
  font-size: 25px;
  text-shadow: 2px 2px 	#f0e24a63;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #98ce4c;
  font-weight: 700;
}

.card-location span {
  color: 	#f0e14a;
  font-size: 18px;
  font-weight: 600;
}


/* pagination.. */
.container-pagination {
  margin: 42px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.container-pagination button {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  background-color: rgb(39, 38, 38);
  transition:  ease 0.4s;
}

.container-pagination button:hover {
  transition:  ease 0.4s;
  transform: translateY(-2px);
}

.container-pagination button i{
  font-size: 1.2rem;
}

ul {
  background-color: rgb(219, 219, 219);
  color: rgb(8, 8, 8);
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:  ease 0.4s;
}

ul:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition:  ease 0.6s;
}

li {
  font-size: 1.2rem;
}

.active {
  background-color: #97ce4c;
}



.container-residents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 90%;
  margin: 0 auto;
}

.padding-50 {
  padding: 60px 0;
}

.card-residents {
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
  padding-bottom: 15px;
  /*min-height: 550px;*/
  width: 300px;
  background-color: rgb(51, 50, 50);
  transition: background-color, box-shadow, transform, 300ms ease-in-out;
  color: #98ce4c;
}

.card-residents:hover {
  background-color: #00000f2d;
  box-shadow: 0 0 17px #98ce4c;
  transform: translateY(-8px)
}

.card-residents__img {
  position: relative;
}

.card-residents img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

h4 {
  font-size: 21px;
  font-weight: 700;
  padding: 8px 0;
  text-shadow: 2px 2px 	#97583ff5;
  color:#f7f7f7;
}

.card-residents__label {
  color: #f0e14a;
  font-size: 16.5px;
  font-weight: 500;
  font-style: italic;
}


.card-residents__status {
  background: #585e4fa4;;
  padding: 5px 25px 5px 18px;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 0px 0px;
  gap: 9px;
  box-sizing: border-box;
}

.card-residents__status__name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: -3px;
}

.card-residents__status__circle {
  width: 15px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.card-residents__status__name-alive {
  text-shadow: 3px 3px 	#000000;
  color:#98ce4c;;
}

.card-residents__status__circle-alive {
  background-color: #98ce4c;
  border: solid 2px #020202;
}

.card-residents__status__name-dead {
  text-shadow: 3px 3px  #000000;
  color: crimson;
}

.card-residents__status__circle-dead {
  background-color: crimson;
  border: solid 2px #020202;
}

.card-residents__status__name-unknown {
  text-shadow: 3px 3px  #000000;
  color:#f0e14a;
}

.card-residents__status__circle-unknown {
  background-color: #f0e14a;
  border: solid 2px #020202;
}


/* == title  ==*/

::selection {
  background: transparent;
}

h1 {
  cursor: default;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: max-content;
  margin: auto;
  display: block;
  animation: bounce .5s ease infinite alternate;
  height: max-content;
  font-size: 4.5rem;
  font-weight: 900;
  color: #98ce4c;
  text-align: center;
  
  text-shadow: 0 1px 0 #f0e14a,
               0 2px 0 #f0e14a,
               0 3px 0 #f0e14a,
               0 4px 0 #f0e14a,
               0 5px 0 #f0e14a,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}

/* ANIMATION */

@keyframes bounce {
  100% {
    top: calc(20% - 15px);

    text-shadow: 0 1px 0 	#44281d,
                 0 2px 0 	#44281d,
                 0 3px 0 	#44281d,
                 0 4px 0 	#44281d,
                 0 5px 0 	#44281d,
                 0 6px 0 	#44281d,
                 0 7px 0 	#44281d,
                 0 8px 0 	#44281d,
                 0 9px 0 	#44281d,
                 0 15px 15px rgba(0, 0, 0, .3);
  }
}


.card-search-error {
  position: fixed;
  z-index: 9;
  top: 3%;
  right: 2%;
  display: flex;
  height: 90px;
  display: flex;
  background-color:  rgb(51, 50, 50);
  animation: cardSearchError 1000ms ease-in-out;
}

@keyframes cardSearchError {
  0%{
    top: -100px;
  }
  50% {
    top: 5%;
    transform: rotate(0);
  }
  60%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(5deg);
  }
  90%{
    transform: rotate(0);
  }
  100% {
    top: 3%;
  }
}

.card-search-error::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color:  #98ce4c;
  animation: searchErrorLine 4000ms linear infinite;
}

@keyframes searchErrorLine {
  from {
    width: 100%;
  } to {
    width: 0;
  }
}

.card-search-error__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px 50px;
}

.card-search-error__content a {
  aspect-ratio: 1;
  width:  22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
  border: solid 1px crimson;
  box-shadow: 0px 0px 5px crimson;
  border-radius: 50%;
  font-size: 1rem;
}


.card-search-error__text {
  font-size: 1.1em;
  font-weight: 500;
  text-shadow: 2px 2px 	#97583ff5;
  color:#f7f7f7;
}

.card-search-error__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* ==== @media ==== */



@media (max-width: 1550px ) {

  header {
    height: 405px;
  }

  .container-location {
    width: 60%;
  }

  h1 {
    font-size: 53px;
    font-size: 3.65rem;
  }

}

@media (max-width: 1200px) {

  header {
    height: 360px;
  }

  .header-search-form input {
    width: 290px;
    font-size: 18px;
    padding: 4.5px 8px;
  }

  .header-search-form button {
    font-size: 18px;
    padding: 4.5px 12px;
  }

  .container-location {
    width: 65%;
    min-height: 70px
  }

  h1 {
    font-size: 3.27rem;
  }

  h2 {
    font-size: 23px;
    text-shadow: 1.5px 1.5px 	#f0e24a63;
  }

  h3 {
    font-size: 19px;
  }

  .card-location span {
    font-size: 17px;
  }

  .container-residents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    margin: 0 auto;
    width: 95%;
  }
  
  .card-residents {
    width: 280px;
  }

  
  
  .card-residents p {
    font-size: 19px;
    padding-bottom: 2px;
  }
  
  
  .card-residents img {
    width: 100%;
    margin: auto;
    border-radius: 20px 20px 0 0;
  }
  
  h4 {
    font-size: 20px;
  }
  
  .card-residents__label {
    font-size: 16px;
  }

  .card-residents__status {
    padding: 6px 25px 6px 18px;
  }
  
  .card-residents__status__name {
    font-size: 1.2rem;
  }
  
  .card-residents__status__circle {
    width: 14px;
  }


  .card-search-error__content {
    padding: 5px 40px;
  }


}

@media (max-width: 992px) {

  header {
    height: 320px;
  }


  .header-search-form input {
    width: 220px;
    font-size: 17px;
    padding: 3.5px 7px;
  }

  .header-search-form button {
    font-size: 17px;
    padding: 3.5px 9px;
  }

  .container-location {
    width: 70%;
    min-height: 65px
  }

  h1 {
    font-size: 2.7rem;
    text-shadow: 0 1px 0 #f0e14a,
    0 1px 0 #f0e14a,
    0 1px 0 #f0e14a,
    0 2px 0 #f0e14a,
    0 2px 0 #f0e14a,
    0 3px 0 transparent,
    0 4px 0 transparent,
    0 5px 0 transparent,
    0 6px 0 transparent,
    0 6px 10px rgba(0, 0, 0, .6);
  }


  @keyframes bounce {
    100% {
    top: calc(20% - 7px);
    text-shadow: 0 1px 0 	#44281d,
        0 1px 0 	#44281d,
        0 1.5px 0 	#44281d,
        0 2px 0 	#44281d,
        0 3px 0 	#44281d,
        0 3px 0 	#44281d,
        0 5px 0 	#44281d,
        0 6px 0 	#44281d,
        0 6px 0 	#44281d,
        0 8px 8px rgba(0, 0, 0, .3);
    }
    }


  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
  }

  .card-location span {
    font-size: 16px;
    font-weight: 700;
  }


  .container-residents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 90%;
    margin: 0 auto;
    width: 95%;
  }
  
  .card-residents {
    padding-bottom: 13px;
    width: 270px;
  }
  
  .card-residents p {
    font-size: 17px;
  }
  
  
  h4 {
    font-size: 18px;
  }
  
  .card-residents__label {
    font-size: 15px;
  }



  .card-residents__status__name {
    font-size: 1.1rem;
  }
  
  .card-residents__status__circle {
    width: 13px;
  }



}

@media (max-width: 768px) {

  header {
    height: 295px;
  }

  h1 {
    font-size: 2.5rem;
  }
 
  .header-search-form input {
    width: 200px;
  }

  .container-location {
    padding: 13px;
    min-height: 59px
  }


  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }

  .card-location span {
    font-size: 14px;
  }


  .container-pagination {
    margin: 40px 0;
    gap: 18px;
    font-weight: 800;
  }
  
  .container-pagination button {
    height: 33px;
    width: 33px;
  }
  
  .container-pagination button i{
    font-size: 1.1rem;
  }
  
  ul {
    width: 30px;
    height: 30px;
  }
  
  li {
    font-size: 1rem;
  }


  .container-residents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 0 auto;
    width: 90%;
  }
  
  .card-residents {
    width: 265px;
  }
  
  .card-residents p {
    font-size: 16px;
  }

  h4 {
    font-size: 17.5px;
    text-shadow: 1.5px 1.5px 	#97583ff5;
  }

  
  .card-residents__label {
    font-size: 14.5px;
  }


  .card-search-error {
    height: 85px;
  }

}


@media (max-width: 608px) {

  header {
    height: 255px;
  }

  h1 {
    font-size: 2.25rem;
  }

  .header-search-form input {
    width: 165px;
    font-size: 15px;
  }

  .header-search-form button {
    font-size: 15px;
  }

  .container-location {
    width: 75%;
    padding: 11px;
    min-height: 56px
  }


  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 14px;
  }

  .card-location {
    gap: 16px;
  }

  .card-location span {
    font-size: 13px;
  }


  .container-pagination {
    margin: 40px 0;
    gap: 15px;
    font-weight: 700;
  }
  
  .container-pagination button {
    height: 30px;
    width: 30px;
  }
  
  .container-pagination button i{
    font-size: 1rem;
  }
  
  ul {
    width: 28px;
    height: 28px;
  }
  
  li {
    font-size: 1rem;
  }

  .container-residents {
    gap: 35px;
    width: 90%;
  }
  
  .card-residents p {
    font-size: 15px;
  }
  
  h4 {
    font-size: 17px;
  }
  
  .card-residents__label {
    font-size: 14px;
  }

  .card-search-error__content {
    padding: 5px 30px;
  }

}


@media (max-width: 470px) {


  header {
    height: 230px;
  }

  h1 {
    font-size:  25px;
    font-size: 2.1rem;
  }

  .header-search-form input {
    width: 145px;
  }

  .container-location {
    gap: 10px;
    width: 80%;
    padding: 10px;
    min-height: 50px
  }
  
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 13px;
  }

  .card-location span {
    font-size: 12px;
  }
  
  .container-pagination {
    margin: 30px 0;
    gap: 13px;
    font-weight: 700;
  }
  
  .container-pagination button {
    height: 28px;
    width: 28px;
  }
  
  .container-pagination button i{
    font-size: 0.9rem;
  }
  
  ul {
    width: 25px;
    height: 25px;
  }
  
  li {
    font-size: 0.9rem;
  }

  .card-residents {
    width: 260px;
  }
  
  .card-residents p {
    font-size: 14px;
    padding: 0px;
  }
  
  h4 {
    font-size: 16px;
    text-shadow: 1.5px 1.5px 	#97583ff5;
  }
  
  .card-residents__label {
    font-size: 13px;
  }

}

@media (max-width: 400px) {

  header {
    height: 220px;
  }

 

  .header-search-form button {
    font-size: 11.5px;
  }

  .container-location {
    gap: 8px;
    width: 85%;
    min-height: 44px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
  }

  .card-location {
    gap: 10px;
  }

  .card-location span {
    font-size: 10px;
  }
  
  .card-residents {
    width: 250px;
  }
  
  .card-residents p {
    font-size: 13px;
  }
  
  h4 {
    font-size: 15px;
    padding: 9px 0 4px 0 ;
  }
  
  .card-residents__label {
    font-size: 12px;
  }

}